<footer class="container mx-auto flex justify-center items-center py-8">
    <div class="w-full text-center">
      <h4 class="text-white text-lg mb-4">Ben G. Web Developer and Designer</h4>
      <div class="footer-menu mb-4">
        <ul class="flex justify-center space-x-4 text-white">
          <li>Skill Set</li>
          <li>Jobs I've had</li>
          <li>Projects I've worked on</li>
          <li>Get in touch</li>
        </ul>
      </div>
      <div class="social flex justify-center space-x-4">
        <a href="https://github.com/grzybowski1911" target="_blank">
          <i class="fa-brands fa-github text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Take a look at some of my coding"></i>
        </a>
        <a href="https://twitter.com/bengrzybowski" target="_blank">
          <i class="fa-brands fa-twitter text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter.. it's not exciting"></i>
        </a>
        <a href="https://www.linkedin.com/in/ben-grzybowski-733144110/" target="_blank">
          <i class="fa-brands fa-linkedin-in text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn.. it's also not exciting"></i>
        </a>
        <a href="https://wordpress.stackexchange.com/users/213956/grzybowski1911" target="_blank">
          <i class="fa-brands fa-stack-exchange text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Check out my WP Stack Exchange"></i>
        </a>
        <a href="https://www.upwork.com/freelancers/~014bd6cc7cb5cb2e31?viewMode=1" target="_blank">
          <svg class="upwork-icon text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296.08 296.07" data-bs-toggle="tooltip" data-bs-placement="top" title="I'm a top rated freelancer on Upwork!">
            <!-- Upwork SVG Path here -->
          </svg>
        </a>
      </div>
    </div>
    Copyright {{"now"|date('Y')}}
  </footer>