<header class="header" >
	{% block header %}
    <nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
            </a>
            <button data-collapse-toggle="mega-menu-full-image" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full-image" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div id="mega-menu-full-image" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="main-menu flex dflex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
                    {% for item in menu.items %}
                        <li class="menu-item">
                            <a href="{{ item.link }}">{{ item.title }}</a>
                            {% if(item.children) %}
                            <div class="menu-children transition-all duration-300 container-medium:fixed container-medium:left-0 container-medium:transition-none container-medium:max-h-none overflow-hidden">
                                {% include 'partial/nav-sub-items.twig' with {'children': item.children} %}
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
	{% endblock %}
</header>


<script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
        var menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Get all mega menu items
        var megaMenuItems = document.querySelectorAll('.mega-menu');

        // Loop through mega menu items
        megaMenuItems.forEach(function(item) {
            // Add event listener for mouse enter
            item.addEventListener('mouseenter', function() {
                // Show mega menu content
                var megaMenuContent = this.querySelector('.mega-menu-content');
                megaMenuContent.style.display = 'block';
            });

            // Add event listener for mouse leave
            item.addEventListener('mouseleave', function() {
                // Hide mega menu content
                var megaMenuContent = this.querySelector('.mega-menu-content');
                megaMenuContent.style.display = 'none';
            });
        });
    });

</script>