<header class="header">
    {% block header %}
        <nav class="bg-white shadow-mdd">
            <div class="nav-container container mx-auto relative flex">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <!-- <img src="{{ nav_logo['url'] }}" class="h-24 p-2" alt="{{ nav_logo['alt'] }}" /> -->
                    <span class="logo-text p-2">Ben G. | Web Dev</span>
                </a>
                <button data-collapse-toggle="mega-menu-full-image" type="button" class="nav-toggle" aria-controls="mega-menu-full-image" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="main-menu-container mt-4 md:mt-0 flex ml-auto">
                    <ul class="main-menu flex flex-col md:flex-row md:space-x-8 rtl:space-x-reverse">
                        {% for item in menu.items %}
                            <li class="menu-item flex items-center">
                                <a href="{{ item.link }}" class="block px-4 py-2">{{ item.title }}</a>
                                {% if(item.children) %}
                                <div class="menu-children absolute left-0 top-full hidden bg-white shadow-lg z-10 transition-opacity duration-300 opacity-0 transform -translate-y-2">
                                    {% include 'partial/nav-sub-items.twig' with {'children': item.children} %}
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>
